@import "font-awesome-4.3.0/scss/font-awesome";

$color-black-primary: #272727;
$color-black-secondary: #2f2f2f;
$color-black-third: #222;

$color-blue-water: #2296bb;
$color-yellow-electricity: #eaba49;
$color-green-money: #0b9160;
$color-green-energy: #2bb673;

$color-orange-marker: rgba(255, 127, 0, 0.8);

$color-white-primary: #ededed;
$color-white-secondary: #BCD5D5;

$background-color: $color-black-primary;

body {
    background-color: $background-color;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5 {
    color: $color-white-primary;
}

main.dash {
    width: 75%;
    margin: 0 auto;

    .dash_appbar {
         min-height: 75px;
         background-color: $color-black-secondary;
         border-bottom: 2px solid $color-white-secondary;

        .dash_appbar--logo {
            width: 10%;
            float: left;
            img {
                height: 65px;                
            }
        }

        .dash_appbar--location {
            box-sizing: border-box;
            float: left;
            width: 90%;

            // border: 5px solid $color-orange-marker;

            .location_name, 
            .location_occupants, 
            .location_date {
                color: $color-white-secondary;
                text-transform: uppercase;
                width: 33%;
                padding: 15px;
                display: inline-block;
                box-sizing:border-box;
                text-align: center;
                font-size: 1.1em;
                i {
                    margin-right: 5px;
                }
            }
        }        
    }


    .dash_interchanging {

        min-height: 650px;
        background-color: $color-black-secondary;

        .dash_interchanging--nav {
            width: 100%; 
            min-height: 50px;

            .label {
                background-color: $color-white-secondary;
                box-sizing: border-box;
                float:left;
                padding: 15px;
                width: 33.33%;
                text-align:center;
                text-transform: uppercase;
                border-width: 5px 0;
                border-style: solid none;
                color: $color-black-secondary;
                cursor: pointer;

                i {
                    margin-right: 5px;
                }
            }


            .label.consumption {
                border-top-color: $color-yellow-electricity;

                &:hover {
                    color: $color-yellow-electricity;
                    border-bottom-color: $color-yellow-electricity;
                }
            }

            .label.consumption.active {
                color: $color-yellow-electricity;
                border-bottom-color: $color-yellow-electricity;
            }

            .label.campus {
                border-top-color: $color-blue-water;

                &:hover {
                    color: $color-blue-water;
                    border-bottom-color: $color-blue-water;
                }
            }

            .label.campus.active {
                color: $color-blue-water;
                border-bottom-color: $color-blue-water;
            }

            .label.reduction {
                border-top-color: $color-green-energy;

                &:hover {
                    color: $color-green-energy;
                    border-bottom-color: $color-green-energy;
                }
            }

            .label.reduction.active {
                color: $color-green-energy;
                border-bottom-color: $color-green-energy;
            }
        }

        .dash_interchanging--container {

            .interchanging_data--usage {
                width: 100%;

                h4 {
                    text-align: center;
                }

                .data_usage--meta,
                .data_usage--chartcontainer {
                    width: 50%;
                    // box-sizing: border-box;
                    float: left;
                }

                .data_usage--chartcontainer {
                    svg.usage_chart--actual {
                        .usage_chart--bar {
                            fill: $color-orange-marker;
                        }

                        .x.axis,
                        .y.axis {
                            .tick .domain {
                                stroke-width: 5px;
                            }
                        }

                        .axis path
                        .axis line {
                            fill: none;
                            stroke: #000;
                            shape-rendering: crispEdges;
                        }

                        // .x.axis path {
                        //     width: 3px;
                        // }
                        // .y.axis {
                        //     fill: $color-yellow-electricity;
                        // }
                    }
                }

                .data_usage--meta {
                    .usage_meta--metercontainer,
                    .usage_meta--efficiencycontainer{
                        float:left;
                        box-sizing: border-box;
                    }

                    .usage_meta--metercontainer {
                        width: 75%;
                        padding-top: 35%;
                    }

                    .usage_meta--efficiencycontainer {
                        width: 25%;
                        padding-top: 35%;
                        // svg.usage_meta--efficiency {

                        // }
                    }
                }
            }
        }
    }

    .dash_statistics {
        &:before {
            height: 10px;
            content: ' ';
            background-image: linear-gradient(90deg, $color-blue-water 0%, $color-blue-water 33%, 
                $color-blue-water 33%, $color-green-energy 33%, $color-green-energy 66%, 
                $color-green-energy 66%, $color-yellow-electricity 66%, $color-yellow-electricity 100%);
            display: block;
        }

        min-height: 250px;
        background-color: $color-black-third;

        .statistics_water,
        .statistics_green,
        .statistics_electricity {  
            min-height: 250px;        
            width: 32%;
            float: left;

            img {
                padding-top: 5px;
                display: block;
                margin: 0 auto;
                height: 60px;
            }

            h4 {
                margin: 5px 0;
                text-align: center;
            }

            .statistics_water--container,
            .statistics_green--container,
            .statistics_electricity--container {
                width: 100%;
                text-align: center;
            }
        }

        .statistics_water {
            h4 {
               color: $color-blue-water; 
            }

            .statistics_water--container {
                position: relative;

                .container_svg--fill {
                    position: absolute;
                    top: 110px;
                    left: 126px;
                }
            }
        }

        .statistics_green {

            h4, i {
                color: $color-green-energy;    
            }

            span {
                color: $color-white-secondary;
            }
            
            i {
                padding-top: 5px;
            }
            span, i{
                font-size: 2.2em;
                display: block;
                text-align: center;
            }
        }

        .statistics_electricity {
            // h4, span{
            //     color: $color-yellow-electricity;
            // }

            // span {
            //     font-size: 2.2em;
            //     display: block;
            //     text-align:center;
            //     padding-top: 30px;
            // }
            
        }
    }

    .dash_savings {
        min-height: 750px;
        background-color: $color-black-secondary;
        width: 100%;
        &:before {
            height: 10px;
            content: ' ';
            background-image: linear-gradient(90deg, $color-green-money 0%, $color-green-money 100%);
            display: block;
        }

        .dash_savings--data {
            width: 100%;
            min-height: 155px;

            .savings_iconheader,
            .savings_price,
            .savings_total {
                width: 33%;
                float: left;
                min-height: 160px;

            }

            .savings_price,
            .savings_total {
                color: $color-white-secondary;

                span {
                    display: block;
                    text-align:center;
                    vertical-align: middle;
                }

                span:nth-child(1) {
                    font-size: 1.8em;
                    padding-top: 55px;
                }

                span:nth-child(2){
                    text-transform: uppercase;
                }
            }

            .savings_iconheader--svg,
            .savings_price--svg,
            .savings_total--svg {
                text {
                    font-size: 18px;
                }

                text.label {
                    font-size: 16px;
                }
            }

            .savings_price--svg,
            .savings_total--svg {

            }

            .savings_iconheader--svg {
                text {
                    fill: $color-green-money;
                }
            }

            .savings_price--svg {
                text {
                    fill: $color-green-money;
                }
            }

            .savings_total--svg {
                text {
                    fill: $color-green-money;
                }
            }
        }

        .dash_savings--container {
            margin: 35px;
            text-align: center;
            background-color: $color-black-secondary;
            position: relative;

            .dash_savings--legend {
                width: 50%;
                margin: 0 auto;
                text-align: center;
                .legend_explanation--line,
                .legend_explanation--green,
                .legend_explanation--red {
                    color: $color-white-secondary;
                }

                .legend_explanation--line .color {
                    color: steelblue;
                }

                .legend_explanation--green .color {
                    color: $color-green-money;
                }

                .legend_explanation--red .color {
                    color: red;
                }
            }
            .dash_savings--header {
                font-size: 1.3em;
                position: absolute;
                color: $color-white-secondary;
                left: 350px;
                top: 130px;
            }
        }
    }


    svg.linechart {
        .axis {
            path,
            line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }

            text {
                fill: rgb(102, 102, 102);
            }

            .tick {
                line {
                    stroke: rgba(0, 0, 0, 0.1);
                }
            }
        }

        .area {
            stroke-width: 1;
        }

        // .axis path,
        // .axis line {
        //   fill: none;
        //   stroke: #000;
        //   shape-rendering: crispEdges;
        // }

        // .axis text {
        //   fill: #000;
        // }

        // .axis .tick line {
        //   stroke: rgba(0, 0, 0, 0.1);
        // }

        .area {
          stroke-width: 1;
        }

        .area.outer,
        .legend .outer {
          fill: rgba(230, 230, 255, 0.8);
          stroke: rgba(216, 216, 255, 0.8);
        }

        .area.inner,
        .legend .inner {
          fill: rgba(127, 127, 255, 0.8);
          stroke: rgba(96, 96, 255, 0.8);
        }

        .median-line,
        .legend .median-line {
          fill: none;
          stroke: #000;
          stroke-width: 3;
        }

        .legend .legend-bg {
          fill: rgba(0, 0, 0, 0.5);
          stroke: rgba(0, 0, 0, 0.5);
        }

        .marker.client .marker-bg,
        .marker.client path {
          fill: rgba(255, 127, 0, 0.8);
          stroke: rgba(255, 127, 0, 0.8);
          stroke-width: 3;
        }

        .marker.server .marker-bg,
        .marker.server path {
          fill: rgba(0, 153, 51, 0.8);
          stroke: rgba(0, 153, 51, 0.8);
          stroke-width: 3;
        }

        .marker path {
          fill: none;
        }

        .legend text,
        .marker text {
          fill: #fff;
          font-weight: bold;
        }

        .marker text {
          text-anchor: middle;
        }
    }

    svg.dash_savings--chart {
        .x.axis,
        .y.axis {
            fill: darken($color-green-money, 5%);

        }

        .savings_svg--bar {
            fill: $color-orange-marker;
        }

        .savings_svg--efficiency {
            .efficiency_bar.good,
            .efficiency_label.good {
                fill: $color-green-money;
            }

            .efficiency_bar.bad,
            .efficiency_label.bad {
                fill: red;
            }

            .efficiency_label.bad {
                stroke: red;
            }

            .efficiency_label {
                stroke: $color-white-secondary;
            }            
        }


    }
}